.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.food-container img {
  max-width: 500px;
  max-height: 300px;
  margin: 12px;
}

.guess-layout {
  display: flex;
  justify-content: center;
  margin: 24px 0 12px 0;
}

.guess-container {
  display: flex;
  justify-content: center;
  width: 600px;
}

.guess-container input {
  margin: 0 4px 0 8px;
  width: 300px;
}

.answer-container {
  display: flex;
  justify-content: center;
}

.hint-layout {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hint-container {
  width: 500px;
}

.hint-item {
  margin: 12px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
}

@media (max-width: 550px) {
  .hint-container {
    width: 350px;
  }
  .guess-container {
    width: 400px;
  }
  .guess-container input {
    width: 150px;
  }
  .food-container img {
    max-width: 200px;
    max-height: 200px;
  }
}

@media (max-width: 300px) {
  .hint-container {
    width: 200px;
  }
  .guess-container {
    width: 200px;
  }
  .guess-container input {
    width: 80px;
  }
  .food-container img {
    max-width: 150px;
    max-height: 150px;
  }
}
