.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.food-container img {
  max-width: 300px;
  max-height: 300px;
  margin: 12px;
}

.guess-container {
  display: flex;
  justify-content: center;
  margin: 24px 0 12px 0;
}

.guess-container input {
  margin: 0 4px 0 8px;
  width: 300px;
}

.answer-container {
  display: flex;
  justify-content: center;
}

.hint-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hint-container {
  width: 500px;
}

.hint-item {
  margin: 12px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
}
