.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
}

.food-container img {
  max-width: 300px;
  max-height: 300px;
  margin: 12px;
}

.guess-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 48px 0;
}

.guess-container input {
  width: 300px;
}

.hint-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hint-container {
  width: 500px;
}

.hint-item {
  margin: 8px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
}
